* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ol, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url(../fonts/MPLUSRounded1c-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url(../fonts/MPLUSRounded1c-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url(../fonts/MPLUSRounded1c-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url(../fonts/MPLUSRounded1c-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Rounded Mplus 1c";
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  background: #fff;
  transition: 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  display: none;
  transition: all 0.5s ease;
  padding: 0 25px;
}
.overlay.open {
  display: block;
}

.content {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

.blue-btn {
  display: flex;
  padding: 15px 40px;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #555E90;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .blue-btn {
    padding: 10px 30px;
  }
}
.blue-btn span {
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease;
}
.blue-btn span::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
  transition: 0.3s ease;
}
.blue-btn:hover {
  background: #9FAAE9;
}

.header {
  width: 100%;
  padding: 40px 0;
  position: relative;
  background: #F8F9FF;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 0;
  }
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .logo {
  position: relative;
}
@media (max-width: 1024px) {
  .header .content .logo {
    z-index: 10;
  }
}
.header .content .logo img {
  width: 369px;
  height: 85px;
}
@media (max-width: 1200px) {
  .header .content .logo img {
    width: 309px;
    height: 75px;
  }
}
@media (max-width: 1024px) {
  .header .content .logo img {
    width: 250px;
    height: 65px;
  }
}
@media (max-width: 768px) {
  .header .content .logo img {
    width: 200px;
    height: 55px;
  }
}
@media (max-width: 1024px) {
  .header .content .header-navigation {
    display: none;
  }
}
.header .content .header-navigation ul {
  display: flex;
  gap: 50px;
}
@media (max-width: 1200px) {
  .header .content .header-navigation ul {
    gap: 30px;
  }
}
.header .content .header-navigation ul li {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.header .content .header-navigation ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .content .header-navigation ul li a svg path {
  transition: 0.3s ease;
}
.header .content .header-navigation ul li a span {
  color: #484848;
  font-family: Rounded Mplus 1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}
.header .content .header-navigation ul li:hover {
  background: #8AB73A;
}
.header .content .header-navigation ul li:hover a svg path {
  fill: #FFF;
}
.header .content .header-navigation ul li:hover span {
  color: #FFF;
}
.header .content .burger-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
}
@media (max-width: 1024px) {
  .header .content .burger-btn {
    display: block;
  }
}
.header .content .burger-btn.active .menu__btn > span {
  transform: rotate(45deg);
}
.header .content .burger-btn.active .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
.header .content .burger-btn.active .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header .content .burger-btn .menu__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(50%);
}
.header .content .burger-btn .menu__btn > span,
.header .content .burger-btn .menu__btn > span::before,
.header .content .burger-btn .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #8AB73A;
  transition-duration: 0.25s;
}
.header .content .burger-btn .menu__btn > span::before {
  content: "";
  top: -8px;
}
.header .content .burger-btn .menu__btn > span::after {
  content: "";
  top: 8px;
}
.header .content .burger-menu {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  padding: 130px 16px 16px;
  left: -2100px;
  transition: 0.5s ease;
}
.header .content .burger-menu.open {
  left: 0;
}
.header .content .burger-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header .content .burger-menu ul li {
  padding: 10px 0;
  width: 100%;
}
.header .content .burger-menu ul li a {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .content .burger-menu ul li a span {
  color: #484848;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  padding: 100px 0px;
  background: #555E90;
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 0px;
  }
}
.footer .content {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1327px) {
  .footer .content {
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .footer .content {
    flex-direction: column;
  }
}
.footer .content .footer-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 768px) {
  .footer .content .footer-column {
    gap: 30px;
  }
}
.footer .content .footer-column .contacts {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
@media (max-width: 768px) {
  .footer .content .footer-column .contacts {
    gap: 10px;
  }
}
.footer .content .footer-column .contacts li {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer .content .footer-column .contacts li span, .footer .content .footer-column .contacts li a {
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}
@media (max-width: 768px) {
  .footer .content .footer-column .contacts li span, .footer .content .footer-column .contacts li a {
    font-size: 14px;
  }
}
.footer .content .footer-column .qr-wrap {
  display: flex;
  padding: 15.68px;
  align-items: center;
  justify-content: center;
  gap: 7.84px;
  border-radius: 5px;
  border: 0.784px solid #C6CAE2;
  background: #FFF;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .content .footer-column p {
  padding-top: 15px;
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 89.5%; /* 14.32px */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer .content .footer-column p {
    font-size: 14px;
  }
}
.footer .content .footer-column .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer .content .footer-column .footer-nav {
    gap: 10px;
  }
}
.footer .content .footer-column .footer-nav li a {
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .footer .content .footer-column .footer-nav li a {
    font-size: 14px;
  }
}
.footer .content .footer-column .footer-nav li a::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M12.0454 8.18829C12.2965 7.93724 12.7035 7.93724 12.9546 8.18829L16.8117 12.0454C17.0628 12.2965 17.0628 12.7035 16.8117 12.9546L12.9546 16.8117C12.7035 17.0628 12.2965 17.0628 12.0454 16.8117C11.7944 16.5607 11.7944 16.1536 12.0454 15.9026L15.448 12.5L12.0454 9.09743C11.7944 8.84637 11.7944 8.43934 12.0454 8.18829ZM8.18829 8.18829C8.43934 7.93724 8.84638 7.93724 9.09743 8.18829L12.9546 12.0454C13.0751 12.166 13.1429 12.3295 13.1429 12.5C13.1429 12.6705 13.0751 12.834 12.9546 12.9546L9.09743 16.8117C8.84637 17.0628 8.43934 17.0628 8.18829 16.8117C7.93724 16.5607 7.93724 16.1536 8.18829 15.9026L11.5909 12.5L8.18829 9.09743C7.93724 8.84637 7.93724 8.43934 8.18829 8.18829Z' fill='%238AB73A'/%3E%3C/svg%3E");
  display: block;
}
.footer .content .footer-column .footer-links {
  display: flex;
  gap: 50px;
}
@media (max-width: 1327px) {
  .footer .content .footer-column .footer-links {
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .footer .content .footer-column .footer-links {
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .footer .content .footer-column .footer-links {
    flex-direction: column;
  }
}
.footer .content .footer-column .footer-links a {
  margin-top: 15px;
  display: block;
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 89.5%; /* 14.32px */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer .content .footer-column .footer-links a {
    font-size: 14px;
  }
}
.footer .content .footer-column .info-wrap span {
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.footer .content .footer-column .payment {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
@media (max-width: 650px) {
  .footer .content .footer-column .payment {
    justify-content: flex-start;
    gap: 25px;
  }
}
.footer .content .footer-column .copyright {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 650px) {
  .footer .content .footer-column .copyright {
    justify-content: flex-start;
  }
}
.footer .content .footer-column .copyright span {
  color: #FFF;
  font-family: Rounded Mplus 1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}
.footer .content .line {
  height: 100%;
  width: 1px;
  background: #C6CAE2;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .footer .content .line {
    display: none;
  }
}

.main-page-hero {
  position: relative;
}
.main-page-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .main-page-hero img {
    -o-object-position: left;
       object-position: left;
  }
}
.main-page-hero h1 {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}
.main-page-hero .hero-wrap {
  padding: 100px 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .main-page-hero .hero-wrap {
    padding: 50px 16px;
    flex-direction: column;
    gap: 50px;
  }
}
.main-page-hero .hero-wrap .col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 768px) {
  .main-page-hero .hero-wrap .col {
    gap: 25px;
  }
}
.main-page-hero .hero-wrap .col h2 {
  color: #555E90;
  font-family: Rounded Mplus 1c;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 89.5%; /* 26.85px */
}
@media (max-width: 768px) {
  .main-page-hero .hero-wrap .col h2 {
    font-size: 20px;
  }
}
.main-page-hero .hero-wrap .col h2 span {
  color: #555E90;
  font-family: Rounded Mplus 1c;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 89.5%;
}
@media (max-width: 768px) {
  .main-page-hero .hero-wrap .col h2 span {
    font-size: 30px;
  }
}
.main-page-hero .hero-wrap .col:last-child {
  align-items: flex-end;
}
.main-page-hero .hero-wrap .col:last-child h2 {
  text-align: right;
}
@media (max-width: 768px) {
  .main-page-hero .hero-wrap .col:last-child {
    align-items: flex-start;
  }
  .main-page-hero .hero-wrap .col:last-child h2 {
    text-align: left;
  }
}

.search-panel {
  padding: 100px 0;
  background: #9FAAE9;
}
@media (max-width: 768px) {
  .search-panel {
    padding: 50px 0;
  }
}
.search-panel .content .search-wrap {
  width: 100%;
  position: relative;
}
.search-panel .content .search-wrap input {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  border: none;
  outline: none;
  box-shadow: 0px 22px 21px -14px #555E90;
  height: 70px;
  color: #696969;
  font-family: Rounded Mplus 1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .search-panel .content .search-wrap input {
    padding: 10px 15px;
    height: 50px;
    font-size: 16px;
  }
}
.search-panel .content .search-wrap input::-moz-placeholder {
  color: #696969;
  font-family: Rounded Mplus 1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-panel .content .search-wrap input::placeholder {
  color: #696969;
  font-family: Rounded Mplus 1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .search-panel .content .search-wrap input::-moz-placeholder {
    font-size: 16px;
  }
  .search-panel .content .search-wrap input::placeholder {
    font-size: 16px;
  }
}
.search-panel .content .search-wrap input:focus {
  box-shadow: 0px 13px 16px -14px #555E90;
}
.search-panel .content .search-wrap button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-panel .content .search-wrap button {
    right: 15px;
  }
}

.catalog-block {
  padding-bottom: 100px;
}
.catalog-block .catalog-block-head {
  padding: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-block-head {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .catalog-block .catalog-block-head {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}
.catalog-block .catalog-block-head h2 {
  color: #555E90;
  font-family: Rounded Mplus 1c;
  font-size: 70px;
  font-style: normal;
  font-weight: 250;
  line-height: 100%; /* 70px */
  transition: 0.3s ease;
}
@media (max-width: 1300px) {
  .catalog-block .catalog-block-head h2 {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  .catalog-block .catalog-block-head h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .catalog-block .catalog-block-head h2 {
    font-size: 35px;
  }
}
.catalog-block .catalog-block-head a {
  color: #555E90;
  font-family: Rounded Mplus 1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-decoration-line: underline;
  transition: 0.3s ease;
}/*# sourceMappingURL=style.css.map */